*html{
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: century;
    overflow: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7em;
}
body{
    position: relative;
}
/* section hearder */

header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 8%;
}
 header img{
    position: absolute;
    margin: px;
    padding: 0px 30px;
    left: 30px;
    margin-top: 0px;
    display: flex;
      width: 30%;
    height: 30%;
}
ul{
    list-style: none;
    float: right;
    margin-top: 10px;
    display: flex;
}
ul li a{
    color: grey;
    text-decoration: none;
    padding: 0px 5px;
    font-size: 2rem;
    margin: 0px;
    font-weight: 500;
    transition: 0.6s ease;
}
ul li a:hover{
    color: rgb(126, 214, 185);
}
section h1{
    padding-top: 90px ;
    color: rgb(117, 211, 180);
    margin: 80px;
    font-weight: 300; 
}
section img{
    width: 4%;
    position: absolute;
    left: 380px;
    padding-top: 30px;
}
#propos{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
section ul li a:hover{
    color: #fff;
    background-color: rgb(143, 214, 190);
} 

/* section3 */

#section3logos img{
align-content: center;
   flex-direction: column;
   content: center;
   width: 5%;
   margin: 5px;
}
#pageslogo #section3logos img{
   flex-direction: column;
   display: flex;
}
.selection,
#leader{
    background-color: rgb(158, 214, 195); width: 1100px;;
    background-image: url(GroupeDocplanner_files/Logo.png);
    justify-content: right;
    float: right;
    left: 100%;
   
}
#leader h1{
    color: rgb(6, 60, 42);
    flex-wrap: wrap;
    content: right;
}

#leader{
       display: flex;
      }
      #selection{
        display: flex;
      }
      #selection{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        text-align: center;
        width: 220px;
        border-radius: 2px;
}
.section4-3 p{
    text-align: center;
    font-size: 12px;
    font-family: Roboto, Arial, sans-serif;
    color: #ababab;
    padding-left: 100px;
    padding-right: 100px;
}
.section5 div{
    border-radius: 3%;
    margin: 0.44%;
}

/* with section 6 */

.section6{
    margin: 5px;
    float: left;
    justify-content: flex;
    align-content: center;
    width: 100%;
    flex-direction: column-reverse;
    display: grid;
    list-style: none;
    text-decoration-line: none;
}
 .section6 div ul button:hover{
        margin-left: 120px;
        background-color: #3d83df;
        color: #fff;
        font-family: Roboto, Arial, sans-serif;
        border-radius: 4px;
        text-align: center;
        border: #fff;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 14px;
        padding-right: 14px;
        font-weight: 700;
        letter-spacing: 0.04em;
        font-size: 12px;
}
.section5 button{
    margin-left: 120px;
    background-color: #3d83df;
    color: #fff;
    font-family: Roboto, Arial, sans-serif;
    border-radius: 4px;
    text-align: center;
    border: #fff;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 14px;
    padding-right: 14px;
    font-weight: 700;
    letter-spacing: 0.04em;
    font-size: 12px;
}
#section6 a{
    display: inline;
    flex-direction: flex;
    text-align: center;
    justify-content: center;
    font-size: 6px;
}
.section6 h2{
    color: black;
}
#section6 button{
    margin-left: 120px;
  background-color: #3d83df;
  color: #fff;
  font-family: Roboto, Arial, sans-serif;
  border-radius: 4px;
  text-align: center;
  border: #fff;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 14px;
  padding-right: 14px;
  font-weight: 700;
  letter-spacing: 0.04em;
  font-size: 12px;
}
#section6 p{
    text-align: center;
  font-size: 12px;
  font-family: Roboto, Arial, sans-serif;
  color: #ababab;
  padding-left: 90px;
  padding-right: 90px;
}





